<!DOCTYPE html>
<html lang="en">
    <head>
        <link  rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <title>DealMaster</title>
        <style>
            .center {
              text-align: center;
            }
            </style>
    </head>


{% extends 'index.html' %}

{% block content %}
<body>
    <div class = "center">

        laptop page!

    </div>

</body>

{% endblock content %}