<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block content %}
    <body>
        <div class = "center">

            <center>
                <h1> \\ Dealmaster //</h1>
                <p>This site was made for HACKUCI2022 which was held virtually</p>
            <p>Our creators envisioned a site where you would be able to scrape the web and essentially price check a specific product you were looking for</p>
            <p>This is the result of our 36 hours of work!
                </p>
            </center>

        </div>
    </body>

{% endblock content %}