<!DOCTYPE html>
<html lang="en">
    <head>
        <link  rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <title>DealMaster</title>
        <style>
            .center {
              text-align: center;
            }
            </style>
    </head>
  
      <body>
          <input type="text" value="username" placeholder="Enter Username"/>
          <input type="password" value="password" placeholder="Enter password"/>
          <input type="submit" value="Login"/>
      </body>

      <div class="post-content">
        <div class="center">
          <h1><img src="Dealmaster.png" alt="Title Page!"></h2>
        </div>
      </div>

    <body>
        <div class = "center">

            Log In Page

        </div>

</body>
</html>