<!DOCTYPE html>

{% extends 'index.html' %}
{% load static %}
{% block content %}

     <div class="post-content">
        <div class="center image">
          <h1><img src="{% static 'pics/Dealmaster.png' %}" alt="Title Page!"></h1>
        </div>
      </div>

    <body>

        {% include 'search.html' %}

        <center>
            <a  href="{% url 'laptops' %}"><img src="{% static 'pics/laptop.png' %}"></a>
            <a href="{% url 'cars' %}"><img src="{% static 'pics/car.png' %}"></a>
            <a href="{% url 'accessories' %}"><img src="{% static 'pics/school.png' %}"></a>
            <a href="{% url 'books' %}"><img src="{% static 'pics/books.png' %}"></a>
        </center>
    </body>

{% endblock content%}
